<h2>Please register to use this awesome blog that will change your life forever</h2>

<% if @errors %>
  <div class="errors-wrapper">
    <span>Please ReBrocc:</span>
    <ul class="errors">
      <% @errors.each do |error| %>
        <li class="error"><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<form method="post" action="/users">
  <label for="username-input" class="">username:</label>
  <input id="username-input" name="user[username]" type="text" value="<%= @user.username if @user %>" tabindex="1" class="">

  <label for="email-input" class="">email:</label>
  <input id="email-input" name="user[email]" type="text" value="<%= @user.email if @user %>" tabindex="1" class="">

  <label for="password-input" class="">password:</label>
  <input id="password-input" name="user[password]" type="password" tabindex="1" class="">

  <input type="submit" value="sign me up" tabindex="3" class="">
</form>
