<h2>Please login to this amazing blog</h2>

<form method="post" action="/login">
  <label for="email-input" class="">email:</label>
  <input id="email-input" name="email" type="text" value="<%= %>" tabindex="1" class="">

  <label for="password-input" class="">password:</label>
  <input id="password-input" name="password" type="password" value="<%= %>" tabindex="1" class="">

  <input type="submit" value="hit it" tabindex="3" class="">
</form>
