<div class="container">
  <h2>Please login to this amazing blog</h2>

  <% if @errors %>
    <div class="errors-wrapper">
      <span>please try again:</span>
      <ul class="errors">
        <% @errors.each do |error| %>
          <li class="error"><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <form method="post" action="/login">
    <label for="email-input" class="">email:</label>
    <input id="email-input" name="email" type="text" value="<%= %>" tabindex="1" class="">

    <label for="password-input" class="">password:</label>
    <input id="password-input" name="password" type="password" value="<%= %>" tabindex="1" class="">

    <input type="submit" value="hit it" tabindex="3" class="btn btn-danger">
  </form>
</div>
