<div class="container">
  <h2>Your post...............yeah</h2>
  <div class="post-title">
    <h3><%= @post.title %></h3>
  </div>
  <div class="post-body">
    <p><%= @post.body %></p>
    <p><small><%= @post.created_at.strftime("%F") %></small></p>
  </div>
</div>
